{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2>{{title}}</h2>
<form action="" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.libro|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.folio|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.f_bautizo|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.ministro|as_crispy_field }}
    </div>
    <div class="col-12">
      <h5>Datos del bautizado(a)</h5>
      <hr>
    </div>
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.nombre|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.apellido|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.sexo|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.f_nacimiento|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.lugar_nacimiento|as_crispy_field }}
    </div>
    <div class="col-12">
      <h5>Datos de los Padres</h5>
      <hr>
    </div>
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.padre_nombre|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.padre_apellido|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.madre_nombre|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.madre_apellido|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.filiacion|as_crispy_field }}
    </div>
    <div class="col-12">
      <hr>
    </div>
    <div class="col-12">
      <h5>Datos de los Padrinos</h5>
      <hr>
    </div>
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.padrino_nombre|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.padrino_apellido|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.madrina_nombre|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
      {{ form.madrina_apellido|as_crispy_field }}
    </div>
    <div class="col-12">
      <hr>
    </div>
    <div class="form-group col-12 mb-0">
      {{ form.observacion|as_crispy_field }}
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <button type="submit" class="btn btn-outline-primary">Guardar</button>
    </div>
  </div>
</form>
{% endblock%}

{% block css %}
{{block.super}}
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block js %}
{{block.super}}
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

<script>
  $('#id_f_nacimiento').datepicker({
    uiLibrary: 'bootstrap4',
    format: 'dd/mm/yyyy'
  });
  $('#id_f_bautizo').datepicker({
    uiLibrary: 'bootstrap4',
    format: 'dd/mm/yyyy'
  });
</script>
{% endblock %}