{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content %}
<h2>Acta de bautismo</h2>

<div class="row">
  <div class="col-12">
    <a href="{% url 'bautismo:actas-nuevo' %}" class="btn btn-primary">Agregar</a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSearch"
            aria-expanded="false" aria-controls="collapseExample">
      Filtrar
    </button>
    <form action="" method="get" class="bg-light p-3 mt-3 collapse" id="collapseSearch">
      <div class="row">
              <div class="col-12">
        <h5 class="">Filtrar</h5>
      </div>
      <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
        {% crispy_field form_search.nombre 'class' 'form-control' %}
      </div>
      <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
        {% crispy_field form_search.apellido 'class' 'form-control' %}
      </div>
      <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
        {% crispy_field form_search.f_bautizo 'class' 'form-control' %}
      </div>
      <div class="form-group col-sm-6 col-md-4 col-lg-3 mb-0">
        <button type="submit" class="btn btn-outline-primary">Buscar</button>
      </div>

      </div>
    </form>
  </div>
  <div class="col-12 table-responsive">
    <table class="table mt-3">
      <thead>
      <tr>
        <th class="text-center">Libro</th>
        <th class="text-center">Folio</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Apellido</th>
        <th class="text-center">F. Nac</th>
        <th class="text-center">F. Bautizo</th>
        <th class="text-center">Acciones</th>
      </tr>
      </thead>
      <tbody>
      {% for acta in object_list %}
      <tr>
        <td class="text-center">{{acta.libro}}</td>
        <td class="text-center">{{acta.folio}}</td>
        <td>{{acta.nombre}}</td>
        <td>{{acta.apellido}}</td>
        <td class="text-center">{{acta.f_nacimiento|default_if_none:"-"}}</td>
        <td class="text-center">{{acta.f_bautizo|default_if_none:"-"}}</td>
        <td class="text-center">
          <a href="{% url 'bautismo:acta-pdf' acta.pk %}" target="_blank" class="btn btn-sm btn-outline-info">PDF</a>
          <a href="{% url 'bautismo:actas-editar' acta.pk %}" class="btn btn-sm btn-outline-primary">Editar</a>
          <!--<button type="button" class="btn btn-sm btn-outline-danger">Eliminar</button>-->
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block css %}
{{block.super}}
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block js %}
{{block.super}}
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

<script>
  $('#id_f_bautizo').datepicker({
    uiLibrary: 'bootstrap4',
    format: 'dd/mm/yyyy'
  });
</script>
{% endblock %}