{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Fe de bautismo - {{acta.nombre|title}} {{acta.apellido|title}}</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <!--<link rel="stylesheet" href="{% static 'css/reset.css' %}">-->
  <!--<link href="https://fonts.googleapis.com/css?family=Rosario&display=swap" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">-->
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <style>
    * {
      /*font-family: sans-serif;*/
      /*font-family: 'Rosario', sans-serif;*/
      /*font-family: 'Roboto', sans-serif;*/
      font-family: 'Rubik', sans-serif;
    }
    @page {
      size: Letter;
      margin: 1.5cm;
      /*border: 1px solid #e2e3e5;*/
    }

    p {
      font-size: 12pt;
    }

    #header {
      /*border: 1px solid #e2e3e5;*/
      text-align: center;
      text-transform: uppercase;
      width: 18.59cm;
    }

    #body {
      /*border: 1px solid #e2e3e5;*/
      width: 18.59cm;
      font-size: 12pt;
    }
  </style>
</head>
<body>
<section id="header">
  <img src="{% static 'img/nsdc.jpg' %}" alt="logo"
       style="position: absolute; left: 0; top: 0; height: 100px; width: 100px">
  <h5 class="text-cent">DIOCESIS DE CIUDAD GUAYANA - VENEZUELA<br>
    PUERTO ORDAZ - EDO.BOLIVAR<br>
    PARROQUIA NTRA. SRA. DE COROMOTO
  </h5>
</section>
<section id="body" class="mt-5">
  <div class="d-flex">
    <div class="w-25">
      <div class="col-12 text-uppercase mt-3 pl-0">
        <p class="mb-0">
          Libro: {{acta.libro}}<br>
          Folio: {{acta.folio}}<br>
          Num: 4<br>
        </p>
      </div>

      <div class="col-12 pl-0" style="margin-top: 12cm;">
        <h6 class="text-uppercase mb-3">Registro Civil</h6>
        <p class="mb-0">Fue presentado: <br>
          Acta N°: 101<br>
          Folio: 100<br>
          Libro: 100<br>
          Año: 1999
        </p>
      </div>
    </div>

    <div class="w-75" style="border-left: 1px solid #b1b1b1; border-radius: 0;">
      <div class="col-12">
        <h5 class="text-center mb-3">CERTIFICADO DE BAUTISMO</h5>
        <p class="text-left">El {{ ministro.tipo.nombre }} <b>{{ministro.full_name|title}}</b>,
          Párroco de esta Parroquia
          certifica que según consta en Acta reseñada al margen,
          correspondiente al libro de Bautismo</p>

        <h5 class="font-weight-bold">{{acta.full_name|title}}</h5>
        <p class="mt-3"><b>Nacido en:</b> {{acta.lugar_nacimiento|title}}</p>
        <p><b>Fue bautizado el:</b> {{acta.f_bautizo|date}}</p>
        <p><b>Padres:</b> <br>{{acta.padre|title}} <br> {{acta.madre|title}}</p>
        <p><b>Padrinos:</b> <br>{{acta.padrino|title}} <br> {{acta.madrina|title}}</p>
        <p><b>Ministro:</b> <br>{{ acta.ministro.tipo.nombre }} {{acta.ministro.full_name|title}}</p>
        <p style="margin-top: 1.3cm">
          <small>Se expide el presente certificado para fines de: DOCUMENTOS</small>
          <br>
          Puerto Ordaz, {{hoy|date}} <br>
        Doy Fe,</p>
        <p class="text-center text-uppercase">_________________________ <br>
          {{ ministro.tipo.abreviatura }}. {{ministro.full_name}}
        </p>
      </div>
    </div>
  </div>
  <div class="d-flex mt-3">
    <div class="w-25"></div>
    <div class="w-75 float-right pt-2">
      <div class="col-12">
        <p class="text-cursive mb-1">Dirección: Calle Vigo, Los Olivos,
          Puerto Ordaz, Edo Bolívar <br>
          Teléfono: 0286-9617002
        </p>
        <p class="text-uppercase mb-0">si este certificado va a ser utilizado fuera de la diócesis debe ser autenticado
          en la
          curia diocesana</p>
      </div>
    </div>
  </div>
</section>
</body>
</html>


