{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2>{{title}}</h2>
<form action="" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      {{ form|crispy }}
      <button type="submit" class="btn btn-outline-primary">Guardar</button>
    </div>
  </div>
</form>
{% endblock%}

{% block css %}
{{block.super}}
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block js %}
{{block.super}}
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

<script>
  $('#id_f_inicio').datepicker({
    uiLibrary: 'bootstrap4',
    format: 'dd/mm/yyyy'
  });
  $('#id_f_fin').datepicker({
    uiLibrary: 'bootstrap4',
    format: 'dd/mm/yyyy'
  });
</script>
{% endblock %}