{% extends "base.html" %}

{% block content %}
<h2>Libros</h2>

<div class="row">
  <div class="col-12">
    <a href="{% url 'bautismo:libros-nuevo' %}" class="btn btn-primary">Agregar</a>
  </div>
  <div class="col-12 table-responsive">
    <table class="table mt-3">
      <thead>
      <tr>
        <th class="text-center">Nombre</th>
        <th class="text-center">Fecha inicio</th>
        <th class="text-center">Fecha fin</th>
        <th class="text-center">Estado</th>
        <th class="text-center">Acciones</th>
      </tr>
      </thead>
      <tbody>
      {% for libro in object_list %}
      <tr>
        <td>{{libro.nombre}}</td>
        <td class="text-center">{{libro.f_inicio|default_if_none:"-"}}</td>
        <td class="text-center">{{libro.f_fin|default_if_none:"-"}}</td>
        <td class="text-center">{% if libro.activo%}<span class="badge badge-success">Activo</span>
          {% else %}<span class="badge badge-danger">Inactivo</span>{% endif %}
        </td>
        <td class="text-center">
          <a href="{% url 'bautismo:libros-editar' libro.pk %}" class="btn btn-sm btn-outline-primary">Editar</a>
          <button type="button" class="btn btn-sm btn-outline-danger">Eliminar</button>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}