{% extends "base.html" %}

{% block content %}
<h2>Ministros</h2>

<div class="row">
  <div class="col-12">
    <a href="{% url 'bautismo:ministros-nuevo' %}" class="btn btn-primary">Agregar</a>
  </div>
  <div class="col-12 table-responsive">
    <table class="table mt-3">
      <thead>
      <tr>
        <th class="text-center">Nombre</th>
        <th class="text-center">Apellido</th>
        <th class="text-center">Estado</th>
        <th class="text-center">Acciones</th>
      </tr>
      </thead>
      <tbody>
      {% for ministro in object_list %}
      <tr>
        <td>{{ministro.nombre}}</td>
        <td>{{ministro.apellido}}</td>
        <td class="text-center">{% if ministro.activo%}<span class="badge badge-success">Activo</span>
          {% else %}<span class="badge badge-danger">Inactivo</span>{% endif %}
        </td>
        <td class="text-center">
          {% if not ministro.activo %}
          <a href="{% url 'bautismo:ministros-default' ministro.pk %}" class="btn btn-sm btn-outline-success">Activar</a>
          {% endif %}
          <a href="{% url 'bautismo:ministros-editar' ministro.pk %}" class="btn btn-sm btn-outline-primary">Editar</a>
          <!--<button type="button" class="btn btn-sm btn-outline-danger">Eliminar</button>-->
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}