{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2>{{title}}</h2>
<form action="" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="form-group col-sm-6 mb-0">
      {{ form.nombre|as_crispy_field }}
    </div>
    <div class="form-group col-sm-6 mb-0">
      {{ form.apellido|as_crispy_field }}
    </div>

    <div class="form-group col-12">
      <button type="submit" class="btn btn-outline-primary">Guardar</button>
    </div>
  </div>
</form>
{% endblock%}