{% load static %}
<!doctype html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}Fe de bautizmo{% endblock %}</title>
  {% block head %}{% endblock %}


  {% block css %}
  <!-- Bootstrap CSS -->
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style>
    * {
      font-family: 'Rubik', sans-serif;
    }
  </style>
  {% endblock %}
</head>
<body>
{% include 'menu.html' %}
<div class="container pt-3 pb-5">
  {% include 'messages.html' %}
  {% block content %}{% endblock %}
</div>

{% block js %}
<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}
</body>
</html>
