{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron">
  <h1>Navbar example</h1>
  <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will
    remain fixed to the top of your browser’s viewport.</p>
  <a class="btn btn-lg btn-primary" href="/docs/4.3/components/navbar/" role="button">View navbar docs &raquo;</a>
</div>

{% endblock %}